<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>User dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/progressdialog.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../css/ride_offers.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/dashboard.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/signup.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="main.js"></script>
    <script  type="text/javascript" src="../javascript/get_ride_offers.js"></script>
</head>
<body>

   <script>getPosts();</script>
   
   <div id="loader"></div>
    <div class="landing">
        <div class="topnav">
            <a href="../../index.html">Home</a>
            <a href="passengers_dashboard.html">Search for a Ride </a>
            <a class="active" href="passenger_ride_offers.html">Ride Offers</a>
            <a href="Passenger_accounts.html">Passenger Login</a>
            <a href="../../index.html">Logout</a>
        </div>

        <div class="admin-view">
            <h2 class="driver-title">List of Rides Given </h2>
            <hr/>
            <div class="card" id="ride_offers_card">

            </div>
            <br>

        </div>

</body>

</html>